<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
    <h1 class="text-center">User Login</h1>
    <form action="post" action="login">
        {% csrf_token %}
        <div>
        <label for="user_login">Login</label>
        <input type="username" name="username">
        <input type="password" name="password">
        <input type="submit">
        </div>
    </form>
</body>
</html>